.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Filebrowser
filebrowser/filebrowser_data

# Dockhand
dockhand/dockhand-data

# Adguard Home
adguardhome/adguardhome-data

# Homepage
homepage/homepage-data/config/logs

# Vaultwarden
vaultwarden/vaultwarden-data

# ConvertX
convertx/convertx-data

# speedtest-tracker
speedtest-tracker/speedtest-tracker-data

# Uptime Kuma
uptime-kuma/uptime-kuma-data

# Arr Stack
arr-stack/config/

# Gotify
gotify/gotify-data

# Questarr
questarr/questarr-data

# Authentik
authentik/authentik-data
authentik/certs
authentik/custom-templates

# Immich
immich/postgres