.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Tailscale configuration and state files
tailscale/

# Portainer
portainer/data

# Filebrowser
filebrowser/filebrowser_db/
filebrowser/filebrowser_config/

# Dockhand
dockhand/dockhand-data

# Adguard Home
adguardhome/adguardhome-data

# Homepage
homepage/homepage-data/config/logs
