SERVICE=homepage
ALLOWED_HOSTS=
HOMEPAGE_VAR_TAILNET_NAME=

# AdGuard Home
HOMEPAGE_VAR_ADGUARD_USER=
HOMEPAGE_VAR_ADGUARD_PASSWORD=

# FileBrowser
HOMEPAGE_VAR_FILEBROWSER_USER=
HOMEPAGE_VAR_FILEBROWSER_PASSWORD=

# Dockhand
HOMEPAGE_VAR_DOCKHAND_USER=
HOMEPAGE_VAR_DOCKHAND_PASSWORD=

# Tailscale
HOMEPAGE_VAR_TS_DEVICE_ID=
HOMEPAGE_VAR_TS_API_KEY=

# Speedtest Tracker
HOMEPAGE_VAR_SPEEDTEST_TRACKER_API_KEY=

# NAS
HOMEPAGE_VAR_NAS_URL=

# Gotify
HOMEPAGE_VAR_GOTIFY_API_KEY=

# Authentik
HOMEPAGE_VAR_AUTHENTIK_API_KEY=

# Immich
HOMEPAGE_VAR_IMMICH_API_KEY=

# Nginx Proxy Manager
HOMEPAGE_VAR_NGINX_PROXY_MANAGER_USER=
HOMEPAGE_VAR_NGINX_PROXY_MANAGER_PASSWORD=

# Jellfin
HOMEPAGE_VAR_JELLYFIN_API_KEY=

# Seerr
HOMEPAGE_VAR_SEERR_API_KEY=

# Seerr
HOMEPAGE_VAR_SEERR_API_KEY=

# Radarr
HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_RADARR_API_KEY=

# Sonarr
HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SONARR_API_KEY=

# Sonarr Anime
HOMEPAGE_VAR_SONARR_ANIME_URL=
HOMEPAGE_VAR_SONARR_ANIME_API_KEY=

# Bazarr
HOMEPAGE_VAR_BAZARR_URL=
HOMEPAGE_VAR_BAZARR_API_KEY=

# qBittorrent
HOMEPAGE_VAR_QBITTORRENT_URL=
HOMEPAGE_VAR_QBITTORRENT_USER=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=

# Prowlarr
HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_PROWLARR_API_KEY=