SERVICE=homepage
ALLOWED_HOSTS=

# AdGuard Home
HOMEPAGE_VAR_ADGUARD_USER=
HOMEPAGE_VAR_ADGUARD_PASSWORD=
HOMEPAGE_VAR_ADGUARD_URL=

# FileBrowser
HOMEPAGE_VAR_FILEBROWSER_USER=
HOMEPAGE_VAR_FILEBROWSER_PASSWORD=
HOMEPAGE_VAR_FILEBROWSER_URL=

# Dockhand
HOMEPAGE_VAR_DOCKHAND_USER=
HOMEPAGE_VAR_DOCKHAND_PASSWORD=
HOMEPAGE_VAR_DOCKHAND_URL=

# Tailscale
HOMEPAGE_VAR_TS_DEVICE_ID=
HOMEPAGE_VAR_TS_API_KEY=

# Metube
HOMEPAGE_VAR_METUBE_URL=

# Vaultwarden
HOMEPAGE_VAR_VAULTWARDEN_URL=

# ConvertX
HOMEPAGE_VAR_CONVERTX_URL=